<div class="folder-box" >
    <div class="info-div">
        <span class="info-slabel"><label>New Folder</label></span>
        <button class = "close-button" type = "button"><span class="material-symbols-outlined"></span></button>
    </div>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="name-div">
            <span class="name-slabel"><label for="name">Folder Name</label></span>
            <span class="name-sinput"><input type="text" class="name" formControlName="name" value="" id="name"></span>
        </div>
        <div class="form-submit">
            <input class="form-submit" type="submit" value="Create" (click)="create()">
        </div>
    </form>
</div>
