<div class="folder-box" >
    <div class="info-div">
        <span class="info-slabel"><label>New Folder</label></span>
        <button class="close-button" type = "button"><span class="material-symbols-outlined">refresh</span></button>
    </div>
    <form [formGroup]="folderForm" (ngSubmit)="onSubmit($event)">
        <div class="name-div">
            <span class="name-slabel"><label for="folderName">Folder Name</label></span>
            <span class="name-sinput"><input type="text" class="name" formControlName="folderName" id="folderName"></span>
        </div>
        <div class="form-submit">
            <input class="form-submit" id="ceate_edit" type="submit" value="Create">
        </div>
    </form>
</div>
