.layout{
  background-color: var(--creamy);
  height: 100vh;
}

.dark-layout{
  position: absolute;
  background-color: rgb(39, 44, 44, 0.7);
  height: 100vh;
  width: 100vw;
  z-index: 4;
}

.folder-box, .contact-box{
  position: absolute;
  left: calc(50% - 250px);
  top: calc(50% - 172px);
}

.main-bar{
  top: 0%;
  position: relative;
  height: 10vh;
  background: var(--primary_gradient);
  margin-bottom: 6px;
  width:100%;
}

.material-symbols-outlined {
  opacity: 0.6;
  vertical-align:middle;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.emails-container{
  position: sticky;
  overflow-y: auto;
  max-height: 516px;
}

.emails-container::-webkit-scrollbar {
  width: 8px;
}
 
.emails-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}
 
.emails-container::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 6px;
}

.main-folders{
  width: 210px;
}

.options-container{
  height: 600px;
}

.options-container:hover{
  overflow: auto;
}

.options-container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
 
.options-container::-webkit-scrollbar-track {
  background-color: var(--primary);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
}
 
.options-container::-webkit-scrollbar-thumb {
  background-color: rgb(247, 247, 247);
  border: 1px solid var(--secondary);
  border-radius: 6px;
}

.options-container::-webkit-scrollbar-corner {
  background-color: var(--secondary);
}

.search-container{
  display: flex;
  position: relative;
  align-self: center;
  width: 548px;
  padding: 0px;
  height: 46px;
  border-radius: 10px;
  border: 1px;
  left:20px;
  border: 1px solid whitesmoke;
  background: var(--creamy);
}

.refresh-button{
  display: inline-block;
  align-self: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-left: 12px;
  padding: 0;
  border: 1px;
}

.settings-button, .logout-button{
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-top: 0px;
  margin-left: 12px;
  border-radius: 100%;
  padding: 0;
  border: 1px;
}

.main-buttons{
  position: absolute;
  top: calc(50% - 20px);
  right: 12px;
}

.state-button{
  position: absolute;
  left: 0px !important;
  align-self: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: var(--creamy);
  color: green;
  padding: 0;
  border: 1px;
}

.usermail{
  display: block;
  margin: 10px;
  margin-left: 50px;
}

.user-info{
  display: inline-block;
  width: 340px;
  height: 40px;
  border-radius: 100px;
  background-color: var(--creamy);
  vertical-align: bottom;
}

.settings-button span, .logout-button span{
  opacity: 0.6;
}

.add-folder-button, .add-contact-button{
  display: inline-block;
  align-self: center;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  padding: 0;
  border: 1px;
}

.edit-button{
  display: none;
  position: absolute;
  right: 0px !important;
  align-self: center;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background: white;
  padding: 0;
  border: 1px;
}

.edit-button:hover{
  opacity: 1;
  background: var(--hover);
  color: var(--primary);
}

.folders-div label, .contacts-div label{
  overflow: auto!important;
  vertical-align: bottom;
  margin-left: 4px;
  font-size: 20px;
}

.folders-div button, .contacts-div button{
  margin: 0px;
  position: absolute;
  right: 12px;
}

.select-button, .return-button{
  display: inline-block;
  align-self: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-left: 52px;
  padding: 0;
  border: 1px;
}

.delete-button, .move-button, .left-nav-button, .right-nav-button, .filter-button{
  display: inline-block;
  align-self: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-left: 12px;
  padding: 0;
  border: 1px;
}

.search-container button{
  display: inline-block;
  align-self: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin: 6px;
  padding: 0;
  border: 1px;
  background: transparent;
}

.pigeon{
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.pigeon-text{
  margin-left: 6px;
  width: 170px;
}

.pigeon-span{
  position: relative;
  display:inline-block;
  left: 16px;
  top:4px;
}

.search-container input{
  box-sizing: border-box;
  align-self: center;
  display: inline-block;
  color: #4f4f4f;
  width: 396px;
  height: 35px;
  border: 1px;
  background: transparent;
  transition-delay: 150ms;
}

.search-container .reset-button{
  margin-right: 0px;
  visibility: hidden;
}

.search-container button:hover{
  background: var(--hover);
}

.options{
  display: inline-block;
  border-radius: 30px;
  height: 88vh;
  width: 14vw;
  margin-right: 14px;
  margin-left: 16px;
  background-color: var(--primary);
  border-radius: 30px;
}

.container{
  display: inline-block;
  height: 88vh; 
  width: 83vw;
  background-color: white;
  border-radius: 30px;
}

.navigation-bar {
  display: flex;
  position: sticky;
  top: 0%;
  background-color: var(--primary);
  height: 60px;
  width: 100%;
  z-index: 2;
}

.paging{
  display: flex;
  position: sticky;
  top: 100%;
  height: 30px;
  padding-top: 6px;
  border-top: 1px solid #ddd;
}

.paging-ngx{
  margin: auto;
}

.search-container input:focus{
  outline: none;
  color: black;
}

.filter-search {
  position: relative;
  visibility: hidden;
  top:-8px;
  left: 72px;
}

.email-preview {
  display: none;
  position: relative;
  width: 100%;
}

.contact-preview {
  display: none;
  position: relative;
  width: 100%;
}

.attach-preview {
  padding: 2px;
  border: 1px solid var(--hover);
  display: inline-block;
}

.attach-preview img {
  height: 100px;
}

.email-preview p{
  border-spacing: 0;
  border-collapse: collapse;
  color: #222;
  direction: ltr;
  font: small/1.5 Arial,Helvetica,sans-serif;
}

.email-pad {
  padding: 20px;
}

.refresh-button:hover, .add-contact-button:hover, .add-folder-button:hover, .select-button:hover, .delete-button:hover, .move-button:hover, .settings-button:hover, .logout-button:hover, .return-button:hover, .right-nav-button:hover, .left-nav-button:hover, .filter-button:hover,.search-button:hover{
  background: white;
  color: var(--primary);
}

.add-folder-button span, .add-contact-button span{
  opacity: 0.6 !important;
}

.add-folder-button span:hover, .add-contact-button span:hover{
  opacity: 1 !important;
}

.emails-table{
  position: relative;
  width: 100%;
}

.emails-table th, td {
  border-bottom: 1px solid #ddd;
}

.td-div{
  overflow: hidden;
  text-overflow: ellipsis;
  height: 22px;
  text-align: center;
}

#table-check-div input{
  top: calc(50% - 6px);
  position: relative;
}

#table-check-div{
  width: 40px;
}

#table-sender-div{
  width: 140px;
}

#table-receivers-div{
  width: 180px;
}

#table-subject-div{
  width: 140px;
}

#table-body-div{
  width: 380px;
}

#table-date-div{
  width: 80px;
}

.emails-table input{
  display: block;
  margin: auto;
}

tr:hover:not(.table-headers){
  background-color: var(--email-hover);
  box-shadow: 0 3px 2px -2px gray;
}

.options-div{
  display: block;
  font-size: 15px;
  margin: auto;
  width: 156px;
  border-radius: 100px;
  padding: 6px 20px;
  border: 1px solid var(--primary);
  background: var(--primary);
  color: var(--creamy);
  transition: 0.35s;
}

.fsublist-div{
  display: block;
  position: relative;
  width: 132px;
  border-radius: 100px;
  padding: 1px 6px;
  border: 1px solid var(--primary);
  background: var(--primary);
  color: var(--creamy);
  transition: 0.35s;
}

.edit-button span{
  position: relative;
  opacity: 0.6!important;
}

.fsublist-div span{
  opacity: 1;
}

.options-div span{
  opacity: 1;
}

.options-div input{
  display: inline-block;
  font-size: 15px;
  vertical-align:middle;
  margin: auto;
  border: 0px solid var(--primary);
  color:white;
  background: transparent;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 144px;
}

.fsublist-div input{
  display: inline-block;
  border: 0px solid var(--primary);
  color:white;
  background: transparent;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}

.options-div:hover{
  cursor: pointer;
  background: white;
  color: var(--primary);
}

.options-div:hover .button{
  cursor: pointer;
  color: var(--primary);
}

.fsublist-div:hover{
  cursor: pointer;
  background: white;
  color: var(--primary);
}

.fsublist-div:hover .button{
  cursor: pointer;
  color: var(--primary);
}

.fsublist-div:hover .edit-button{
  display: inline-block;
}

.folders-div, .contacts-div{
  display: block;
  position: relative;
  font-size: 15px;
  margin: auto;
  width: 176px;
  overflow: unset;
  border-radius: 100px;
  padding: 6px 20px;
  border: 1px solid var(--primary);
  background: var(--primary);
  color: var(--creamy);
  transition: 0.35s;
}

.g-cl{
  position: relative;
  height: 30px;
}

.g-cl span{
  opacity: 1;
}

.folders-div ul, .contacts-div ul{
  padding-inline-start: 16px;
  padding-top: 4px;
}

.dropdown {
  position: relative;
  display: inline-block;
  align-self: center;
}

.dropdown-content {
  margin-top: 40px;
  display: none;
  position: fixed;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow:
        2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028)
    ;
}

.dropdown-content a {
  color: black;
  padding: 10px 12px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content:hover + .filter-button + .move-button{
  background: white;
  color: var(--primary);
}

.edit-dropdown{
  position: relative;
  align-self: center;
  z-index: 1;
}

.edit-content{
  display: none;
  color: black;
  background-color: var(--hover);
  margin-top: 0px;
  position: fixed;
  margin-left: 64px;
  box-shadow:
    2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028)
  ;
}

.edit-content a{
  width: 60px;
  font-size: small;
  padding: 4px 6px;
  text-decoration: none;
  display: block;
}

.edit-content a:hover {
  background: white;
  color: var(--primary);
}

.dropdown-content a:hover {
  background: white;
  color: var(--primary);
}