<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<div class = "dark-layout" [ngStyle]="{'display' : (getFolderVisible || getContactVisible)? 'block':'none'}">
<app-folder-box class="folder-box" [ngStyle]="{'display' : getFolderVisible ? 'block':'none'}"></app-folder-box>
<app-contact-box class="contact-box" [ngStyle]="{'display' :  getContactVisible ? 'block':'none'}"></app-contact-box>
</div>
<div class = "layout">
  <div class = "main-bar">
    <span class="pigeon-span">
      <img class="pigeon" src="./assets/pigeon-symbol.png">
    </span>
    <span>
      <img class="pigeon-text" src="./assets/pigeonon-text.png">
    </span>
    <div class="main-buttons">
      <div class = "user-info">
        <button class = "state-button" #stateButton type = "button"><span class="material-symbols-outlined">radio_button_checked</span></button>
        <label class = "usermail">{{currentUser}}@pigeonon.com</label>
      </div>
      <button class = "settings-button" #settingsButton type = "button"><span class="material-symbols-outlined" (click)="darkModeToggle()">settings</span></button>
      <button class = "logout-button" #logoutButton type = "button" (click)="logout()"><span class="material-symbols-outlined">logout</span></button>
    </div>
  </div>
  <div class="options">
    <br>
    <div class = "options-container">
    <aside>
      <div class="main-folders">
      <div class="options-div" (click)="composeIt()">
        <span class="material-symbols-outlined">edit</span>
        <input type="button" class="button" value="Compose">
      </div>
      <input type="radio" name = "mRadio" [id]="'m1'" checked="true" [ngStyle]="{'visibility':'hidden'}"/>
      <div class="options-div" (click)="getEmails('Inbox');checkRadio('m1');">
        <span class="material-symbols-outlined">inbox</span>
        <input type="button" class="button" value="Inbox">
      </div>
      <input type="radio" name = "mRadio" [id]="'m2'" [ngStyle]="{'visibility':'hidden'}"/>
      <div class="options-div" (click)="getEmails('Sent');checkRadio('m2');">
        <span class="material-symbols-outlined">send</span>
        <input type="button" class="button" value="Sent">
      </div>
      <input type="radio" name = "mRadio" [id]="'m3'" [ngStyle]="{'visibility':'hidden'}"/>
      <div class="options-div" (click)="getEmails('Draft');checkRadio('m3');">
        <span class="material-symbols-outlined">draft</span>
        <input type="button" class="button" value="Draft">
      </div>
      <input type="radio" name = "mRadio" [id]="'m4'" [ngStyle]="{'visibility':'hidden'}"/>
      <div class="options-div" (click)="getEmails('Trash');checkRadio('m4');">
        <span class="material-symbols-outlined">delete</span>
        <input type="button" class="button" value="Trash">
      </div>
    </div>
      <br>
      <div class="folders-div">
        <div class="g-cl">
          <span class="material-symbols-outlined">folder</span>
          <label>Folders</label>
          <button class = "add-folder-button" #folderButton type = "button" (click)="addFolder(false , 0)"><span class="material-symbols-outlined">add</span></button>
        </div>
        <div class="folders-list">
          <ul *ngFor="let list of getfolders ; let i=index">
            <li>
              <input type="radio" name = "mRadio" [id]="'f'+i" [ngStyle]="{'visibility':'hidden'}"/>
              <div class="fsublist-div" (clickOutside)="hideEditBox('edit-folder'+i)">
                <span class="material-symbols-outlined">folder</span>
                <input type="button" class="button" value={{list}} (click)="getEmails(list);checkRadio('f'+i);">
                <button class = "edit-button" #editButton (click)="showEditBox('edit-folder'+i)"  type = "button"><span class="material-symbols-outlined">more_vert</span>
                </button>
                <div class="edit-dropdown">
                  <div class="edit-content" id="edit-folder{{i}}">
                    <a (click)="addFolder(true , i)">Edit</a>
                    <a (click)="removeFolder(i)">Remove</a>
                  </div>
                </div>
              </div>
            </li>
           </ul>
        </div>
      </div>
      <div class="contacts-div">
        <div class="g-cl">
          <span class="material-symbols-outlined">contacts</span>
          <label>Contacts</label>
          <button class = "add-contact-button" #contactButton type = "button" (click)="addContact(false , 0)"><span class="material-symbols-outlined">add</span></button>
        </div>
        <div class="contacts-list">
          <ul *ngFor="let list of getcontacts; let i=index">
            <li>
              <input type="radio" name = "mRadio" [id]="'c'+i" [ngStyle]="{'visibility':'hidden'}"/>
              <div class="fsublist-div" (clickOutside)="hideEditBox('edit-contact'+i)">
                <span class="material-symbols-outlined">account_circle</span>
                <input type="button" class="button" value={{list.name}} (click)="previewContact(i);checkRadio('c'+i);">
                <button class = "edit-button" #editButton (click)="showEditBox('edit-contact'+i)" type = "button"><span class="material-symbols-outlined">more_vert</span></button>
                <div class="edit-dropdown">
                  <div class="edit-content" id="edit-contact{{i}}">
                    <a (click)="addContact(true , i)">Edit</a>
                    <a (click)="removeContact(i)">Remove</a>
                  </div>
                </div>
              </div>
            </li>
           </ul>
        </div>
      </div>
    </aside>
    </div>
  </div>
  <div class="container">
    <div class = "navigation-bar">
      <button class = "refresh-button" #refreshButton type = "button" (click)="refreshEmails()"><span class="material-symbols-outlined">refresh</span></button>
      <div class = "search-container" [ngStyle]="{'background-color': searchColor}">
        <button class = "Search-button" type = "button" (click)="searchEmails()"><span class="material-symbols-outlined">search</span></button>
        <input type = "text" id = "search_text" placeholder="Search in mail" #searchBar (focus)="whitenBar()" (clickOutside)="darkenBar()">
        <button class = "reset-button" type = "button" #resetButton><span class="material-symbols-outlined">close</span></button>
        <button class = "filter-button" type = "button" #filterButton [ngStyle]="{'display' : filterBoxVisible? 'none':''}" value="Search" (click)="showFilter()"><span class="material-symbols-outlined">tune</span></button>
      </div>
      <button class = "return-button" #returnButton type = "button" [ngStyle]="{'display' : (emailVisible||contactVisible)? '':'none'}" (click)="backToFolder()"><span class="material-symbols-outlined">keyboard_return</span></button>
      <button class = "select-button" #selectButton [ngStyle]="{'display' : !(emailVisible||contactVisible)? '':'none'}" type = "button" (click)="selectAll()"><span class="material-symbols-outlined">{{checkAll? "check_box":"check_box_outline_blank"}}</span></button>
      <div class="dropdown">
        <div class="dropdown-content" id="filterMenu" (clickOutside)="cancelFilter()">
          <a (click)="sortEmails('Date')">Date</a>
          <a (click)="sortEmails('Priority')">Priority</a>
        </div>
        <button class = "filter-button" #filterButton (click)="viewFilter()" [ngStyle]="{'display' : !(emailVisible||contactVisible) && !buttonsVisible? '':'none'}" type = "button"><span class="material-symbols-outlined">filter_alt</span></button>
      </div>
      <button class = "delete-button" #deleteButton [ngStyle]="{'display' : buttonsVisible? '':'none'}" type = "button" (click)="deleteEmail()"><span class="material-symbols-outlined">delete</span></button>
      <div class="dropdown">
        <div class="dropdown-content" id="folderMenu" (clickOutside)="cancelFolders()">
          <a *ngFor="let list of getfolders" (click)="moveEmails(list)">{{list}}</a>
        </div>
        <button class = "move-button" #moveButton (click)="viewFolders()" *ngIf="getfolders.length > 0 && currentFolder !== 'Trash'" [ngStyle]="{'display' : buttonsVisible? '':'none'}" type = "button"><span class="material-symbols-outlined">drive_file_move</span></button>
      </div>
      <button class = "restore-button" #restoreButton *ngIf="currentFolder === 'Trash'" (click)="restoreEmails()" [ngStyle]="{'display' : buttonsVisible? '':'none'}" type = "button"><span class="material-symbols-outlined">restore_from_trash</span></button>
      <button class = "left-nav-button" #leftNavButton [ngStyle]="{'display' : emailVisible? '':'none'}" type = "button" (click)="navigateEmails(false)"><span class="material-symbols-outlined">arrow_back_ios</span></button>
      <button class = "right-nav-button" #rightNavButton [ngStyle]="{'display' : emailVisible? '':'none'}" type = "button" (click)="navigateEmails(true)"><span class="material-symbols-outlined">arrow_forward_ios</span></button>
    </div>
    <app-filter-search class = "filter-search" #filterSearch [ngStyle]="{'display' : filterBoxVisible? '':'none'}" (clickOutside)="hideFilter()"></app-filter-search>
    <app-compose-box [currentID]="draftID" class = "compose-box" #composeBox [ngStyle]="{'display' : getcomposeVisible? '':'none'}" (clickOutside)="hideCompose()"></app-compose-box>
    <div class="emails-container">
      <div class = "email-preview" [ngStyle]="{'display' : emailVisible? 'block':'none'}">
        <div class = "email-pad">
          <div>
            <h1 class="email-subject">{{currentEmail.subject}}</h1>
          </div>
          <br>
          <div>
            <h4>From: {{currentEmail.sender}}</h4>
            <h5>To: {{currentEmail.receivers}}</h5>
            <br>
            <p>{{currentEmail.body}}</p>
          </div>
          <br>
          <h4 *ngIf="attachs.length > 0">{{attachs.length}} attachments</h4>
          <div class = "attach-preview" *ngFor="let att of attachs">
            <a href={{att}} download>
              <img src={{att}}>
            </a>
          </div>
          <div id="attachments">
            <label for = "attachment">Attachments:</label>
          </div>
        </div>
      </div>
      <div class = "contact-preview" [ngStyle]="{'display' : contactVisible? 'block':'none'}">
        <div class = "email-pad">
          <div>
            <h1 class="contact-name">{{currentContact!.name}}</h1>
          </div>
          <br>
          <div *ngFor="let mail of currentContact!.mails">
            <h4>mail: {{mail}}</h4>
          </div>
        </div>
      </div>
      <table class = "emails-table" [cellSpacing]="0" role="grid" aria-readonly="true" [ngStyle]="{'display' : !(emailVisible||contactVisible)? '':'none'}">
        <tbody>
            <tr *ngFor="let email of getemails | paginate : {itemsPerPage : 50, currentPage : page}" [id]="email.id">
              <td>
                <div class = "td-div" id = "table-check-div">
                  <input type="checkbox" [checked]="checkAll" (change)="emailSelection($event, email.id)">
                </div>
              </td>
              <td (click)="previewEmail(email.id)">
                <div class = "td-div" id = "table-sender-div">
                  {{email.sender}}
                </div>
              </td>
              <td (click)="previewEmail(email.id)">
                <div class = "td-div" id = "table-receivers-div">
                  {{email.receivers}}
                </div>
              </td>
              <td (click)="previewEmail(email.id)">
                <div class = "td-div" id = "table-subject-div">
                  {{email.subject}}
                </div>
              </td>
              <td (click)="previewEmail(email.id)">
                <div class = "td-div" id = "table-body-div">
                  {{email.body}}
                </div>
              </td>
              <td (click)="previewEmail(email.id)">
                <div class = "td-div" id = "table-date-div">
                  {{email.date | date: (email.date.getDate() == nowDate.getDate())? 'h:mm a':'MMM d'}}
                </div>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
    <div class = "paging">
      <pagination-controls class="paging-ngx" [autoHide]=true previousLabel="" nextLabel="" (pageChange)="resetSelection()" (pageChange)= "page = $event"></pagination-controls>
    </div>
  </div>
</div>
