<div class="layout">
    <div class="container">
        <div class = "form-header">
            <h2>Log in</h2>
            <h3>to continue to your mail</h3>
        </div>
        <div class = "form-container">
            <form class = "form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-input">
                    <label for="username">Email or phone</label><br>
                    <input type="text" id="username" formControlName="username"><br><br>
                </div>
                <div class="form-input">
                    <label for="password">Password</label><br>
                    <input type={{visibility}} id="password" formControlName="password"><br><br>
                </div>
                <div class="show-password">
                    <label>
                        <input type="checkbox" (change)="togglePassword()">
                        <span class="show-password-target"></span>
                    </label>
                    <label id="show-password">Show password</label>
                </div>
                <label id="link" (click)="signupRedirct()">Sign up</label>
                <div class="form-submit">
                    <input class="form-submit" type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
</div>