<div class="contact-box">
    <div class="info-div">
        <span class="info-slabel" id="contactname"><label>New Contact</label></span>
        <button class = "close-button" type = "button" (click)="closeContactBox()"><span class="material-symbols-outlined">close</span></button>
    </div>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit($event)">
        <div class="name-div">
            <span class="contactName-slabel"><label for="contactName">Name</label></span>
            <span class="contactName-sinput"><input type="text" name="contactName" class="contactName" formControlName="contactName" value="" id="contactName" value={{getname}}></span>
        </div>
        <div class="addresses-div">
            <span class="addresses-slabel"><label for="addresses">Mail</label></span>
            <span class="addresses-sinput"><input type="text" name="addresses" class="addresses" formControlName="addresses" value="" id="addresses" value={{getmails}}></span>
        </div>
        <div class="form-submit">
            <input class="form-submit" type="submit" value="Create">
        </div>
    </form>
</div>
