.filter-search{
    position: absolute;
    width: 500px;
    height: 400px;
    background-color: white;
    visibility: visible;
    color: #202124;
    -webkit-font-smoothing: antialiased;
    font-family: "Google Sans",Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: .875rem;
    letter-spacing: normal;
    display: flex;
    border-radius: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 24px;
    border: 1px solid whitesmoke;
    box-shadow:
        2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028)
    ;
    z-index: 1;
}

.filter-search div{
    visibility: visible;
    color: #202124;
    -webkit-font-smoothing: antialiased;
    font-family: "Google Sans",Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: .875rem;
    height: 50px;
    letter-spacing: normal;
    clear: both;
    align-items: center;
    display: flex;
    line-height: 20px;
    margin-bottom: 0px;
    padding: 0;
    width: 100%;
}

.filter-search span{
    visibility: visible;
    -webkit-font-smoothing: antialiased;
    font-family: "Google Sans",Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: .875rem;
    letter-spacing: normal;
    line-height: 20px;
    white-space: nowrap;
    width: auto;
    float: left;
    color: #5f6368;
    margin-right: 32px;
    padding: 0;
    min-width: 88px;
}

.jjj{
    color: #202124;
    transition: opacity 0.218s;
    background: #fff;
    cursor: default;
    margin: 0;
    outline: none;
    padding: 6px 0;
    position: absolute;
    max-height: 600px;
    overflow: auto;
    -webkit-font-smoothing: antialiased;
    font-size: .875rem;
    letter-spacing: normal;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 8px 10px 1px rgba(0,0,0,.14),0px 3px 14px 2px rgba(0,0,0,.12),0px 5px 5px -3px rgba(0,0,0,.2);
    font-family: "Google Sans",Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    line-height: 20px;
    user-select: none;
    visibility: visible;
    overflow-y: auto;
    height: auto;
    left: 144.975px;
    top: 260.988px;
    display: none;
}

.filter-search input{
    visibility: visible;
    -webkit-font-smoothing: antialiased;
    white-space: nowrap;
    outline: none;
    font-family: "Google Sans",Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: 100%;
    background-color: #fff;
    color: #222;
    box-sizing: border-box;
    border-radius: 1px;
    transition: none;
    border: none!important;
    box-shadow: inset 0 -1px 0 0 rgba(100,121,143,0.122);
    height: 20px;
    margin: 0!important;
    max-width: none;
    padding: 0;
    width: 348px;
}

.filter-search input:focus{
    box-shadow: inset 0 -1px 0 0 var(--primary);
}

.form-submit{
    width: 300px;
    margin: auto;
    padding: 30px;
}

.form-submit input{
    display: block;
    font-size: 15px;
    width: 100px;
    height: 30px;
    margin: auto;
    border-radius: 10px;
    padding: 6px 20px;
    border: 6px solid var(--primary);
    background: var(--primary);
    color: var(--creamy);
    transition: 0.35s;
}

.form-submit input:hover{
    cursor: pointer;
    background: white;
    color: var(--primary)
}