<div class="layout">
    <div class="container">
        <div class = "form-header">
            <h2>Sign up</h2>
            <h3>Create your mail account</h3>
        </div>
        <div class = "form-container">
            <form class = "form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                <div id="name" class="form-input">
                    <label for="first_name">First name</label><br>
                    <input type="text" id="first_name" formControlName="first_name"><br><br>
                </div>
                <div id="name" class="form-input">
                    <label for="last_name">Last name</label><br>
                    <input type="text" id="last_name" formControlName="last_name"><br><br>
                </div>
                <div class="form-input">
                    <label for="username">Username</label><br>
                    <input type="text" id="username" formControlName="username"><br><br>
                </div>
                <div id="ppassword" class="form-input">
                    <label for="password">Password</label><br>
                    <input type={{visibility}} id="password" formControlName="password"><br><br>
                </div>
                <div class="show-password">
                    <label>
                        <input type="checkbox" (change)="togglePassword()">
                        <span class="show-password-target"></span>
                    </label>
                    <label id="show-password">Show password</label>
                </div>
                <label id="link" (click)="loginRedirct()">Log in</label>
                <div class="form-submit">
                    <input class="form-submit" type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
</div>