<div class = "compose-box" >
    <div>
        <label for="to">To</label><br>
        <input name="to" placeholder="to" type="text" id="to">
    </div>
    <div>
        <label for="subject">Subject</label><br>
        <input name="subject-message" placeholder="Subject" type="text" id="subject-message">
    </div>
    <div>
        <label for="message">message</label><br>
        <textarea type="text" placeholder="message.." rows="9"  id="message"></textarea>
    </div>
    <div class="attach">
        <select name="priority"  id="priority">
        <option selected disabled>choose priority</option>
        <option value="4">Very High</option>
        <option value="3">High</option>
        <option value="2">Medium</option>
        <option value="1">Low</option>
        </select>
        <div >
        <input type="file" class="file"   multiple="multiple"  (change)="upload($event.target)">
        </div>
    </div>
    <div>
        <button class="send" (click)="send()"  >Send</button>
        <button class="send" (click)="saveToDraft()" >Save to draft</button>
    </div>
</div>