.compose-box{
    position : absolute;
    width: 500px;
    height: 400px;
    background-color: white;
    visibility: visible;
    color: #202124;
    -webkit-font-smoothing: antialiased;
    font-family: "Google Sans",Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: .875rem;
    letter-spacing: normal;
    border-radius: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 24px;
    border: 1px solid whitesmoke;
    box-shadow:
      2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
      6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028)
    ;
    z-index: 1;
    bottom:0px;
    right:10px;
    border: 2px solid var(--primary);

}


input{
  width: 95%;
  font-size: 15px;
}
label{
  display: block;
  text-align: left;
  height: 2px;
  font-weight: bold;
  color: #282d36;
  margin-left: 15px;
}
input#subject-message{
  text-align: left;
  border: none;
  border-bottom: 2px solid var(--creamy);
}

input#subject-message:focus{
  outline: none;
  border-bottom: 2px solid var(--primary);
}

input#to{
  text-align: left;
  border: none;
  border-bottom: 2px solid var(--creamy);
}

input#to:focus{
  outline: none;
  border-bottom: 2px solid var(--primary);
}


#message{
  width: 95%;
  font-size: 15px;
}
#message{
  text-align: left;
  margin-top: 10px;
  border: 2px solid var(--creamy);
  border-radius: 10px;
  resize: none;
  padding: 1%;
}
#message:focus{
  outline: none;
  border: 2px solid var(--primary);
}
.send{
  color: var(--creamy);
  background-color: var(--primary);
  margin-right: 20px;
  border: 2px solid var(--primary);
  border-radius: 15px;
  cursor: pointer;
  font-size: 20px;
}
.send:hover{
  cursor: pointer;
  background: white;
  color: var(--primary);
  border: 2px solid var(--primary);
}

#priority{
  margin-right: 75px;
  margin-left: 2px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 12px 15px;
  border-radius: 10px;
  background-color: var(--creamy);
  font-size: 15px;
  cursor: pointer;
  border: 2px solid var(--creamy);
} 
#priority:focus{
  outline : none;
  border : 2px solid var(--primary);
}

.attach{
  margin-bottom: 5px;
  display: flex;
}
.file{
  margin-bottom: 10px;
  margin-top: 15px;
  font-size: 15px;
}
